<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

{% seo %}
  </head>

  <body>

    <header>
      <div class="container">
        <h1>{{ site.title | default: site.github.repository_name }}</h1>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>

        <section id="downloads">
          {% if site.show_downloads %}
            <a href="{{ "/" | prepend: site.baseurl | replace: '//', '/' }}" class="btn">Get-Home</a>
            <a href="{{ site.baseurl | append: '/get-help' }}" class="btn">Get-Help</a>
          {% endif %}
            <a href="{{ site.baseurl | append: '/getbootcampdate' }}" class="btn">Get-BootcampDate</a>
            <a href="{{ site.baseurl | append: '/getbootcampdate' }}" class="btn">Submit-Challenge</a>
        </section>
      </div>
    </header>

    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>

    {% if site.google_analytics %}  
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-115616595-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-115616595-1');
      </script>

    {% endif %}
  </body>
</html>
