---
layout: default
---

<style>
.email_txt {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.textarea1 {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.button1 {
    width: 80%;
    background-color: #4CAF50;
    color: white
    padding: 16px 22px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    height: 30px;


.button1:hover {
    background-color: #45a049;
}



</style>


<form method="POST" action="https://formspree.io/vikiscripts@gmail.com">
  <input type="email" class="email_txt" name="email" placeholder="Your email"> </br>
  <textarea class="textarea1" rows=20 name="message" placeholder="Your Challenge(To be Published)"></textarea> </br>
  <button class="button1" type="submit">Submit</button>
</form>
