---
layout: default
---


<form method="POST" action="https://formspree.io/vikiscripts@gmail.com">
  <input type="email" name="email" placeholder="Your email">
  <textarea name="message" placeholder="Your Solution"></textarea>
  <button type="submit">Send</button>
</form>

<!--Area Below is used for Only Posts or Page Contents-->

	<style>
	#editor {
		border: 1px solid lightgray;
		margin: auto;
		height: 80%;
		width: 90%;
	}

	body{margin:auto;}

	.label {
	   margin-left:70px;
	   font-family:arial;

	}
	</style>

	<br>

	<label for="mode" class="label">Language: </label>
	<select id="mode">
		<option ext=".ps1" value="ace/mode/powershell" selected>Powershell</option>
		<option ext=".vbs" value="ace/mode/vbscript">vbscript</option>
		<option ext=".cmd" value="ace/mode/batchfile">batchfile</option>
		<option ext=".py" value="ace/mode/python">python</option>  
		<option ext=".html" value="ace/mode/html">html</option>
		<option ext=".js" value="ace/mode/javascript">javascript</option>
		<option ext=".json" value="ace/mode/json">json</option>
		<option ext=".php" value="ace/mode/php">php</option>      
		<option ext=".xml" value="ace/mode/xml">xml</option>
	 </select>
	 
	<label for="theme" class="label">Theme: </label>
	<select id="theme">
		<option value="ace/theme/crimson_editor">Crimson Editor</option>
		<option value="ace/theme/tomorrow_night_blue">Tommarow Night Blue</option>
		<option value="ace/theme/tomorrow">Tommarow</option>
		<option value="ace/theme/monokai">Monokai</option>
		<option value="ace/theme/twilight">Twilight</option>    
	</select>

	<button id="btn-save" class="label">Download Code</button>
	 
	 <br><br>
	 
	<div id="editor">function foo(items) { 
	  var x = "All this is syntax highlighted"; 
	  return x;
	  'VbScript Comment
	  #PS Comment
	}</div>

	<br><br>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.8/ace.js" type="text/javascript" charset="utf-8"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script>

    var editor = ace.edit("editor");
	editor.getSession().setUseWorker(false);
	editor.setTheme("ace/theme/crimson_editor");
	editor.getSession().setMode("ace/mode/powershell");
	editor.setOption("showPrintMargin", false);
	editor.setOption("maxLines", 35);
        editor.setOption("minLines", 30);
	editor.setAutoScrollEditorIntoView(true);
	
	$('#theme').on('change', function () {
	    var selected_theme = $('#theme').val();
		//alert(selected_theme)
		editor.setTheme(selected_theme);
	});

	$('#mode').on('change', function () {
		var mode = $('option:selected').attr('value');
		//alert(mode);
		//console.log(mode)
		editor.getSession().setMode(mode);
	});

	$("#btn-save").click( function() {
		  var text = editor.getValue();
		  var extn = $('option:selected').attr('ext');
		  var a = document.createElement('a');
          with (a) {
                href='data:text/csv;base64,' + btoa(editor.getValue());
                download= "vikiScripts-download-Code" + extn;
          }
          document.body.appendChild(a);
          a.click();
          document.body.removeChild(a);
	});
</script>
